/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
public/documents/1/documents/

public/documents/1/equipments/2/documents/

public/documents/1/equipments/6/pictures/

public/documents/1/pictures/

public/\.htaccess

public/documents/1/equipments/6/documents/

public/documents/1/maps/

public/documents/2/documents/

public/documents/1/equipments/1/

public/documents/1/equipments/10/

public/documents/1/equipments/11/qr_code\.svg

public/documents/1/equipments/12/qr_code\.svg

public/documents/1/equipments/2/qr_code\.svg

public/documents/1/equipments/3/qr_code\.svg

public/documents/1/equipments/4/qr_code\.svg

public/documents/1/equipments/5/qr_code\.svg

public/documents/1/equipments/6/qr_code\.svg

public/documents/1/equipments/7/qr_code\.svg

public/documents/1/equipments/8/qr_code\.svg

public/documents/1/equipments/9/qr_code\.svg

public/documents/1/keys/1/qr_code\.svg

public/documents/1/keys/2/qr_code\.svg

public/documents/1/keys/3/qr_code\.svg

public/documents/1/reports/1/pictures/784946\.jpg
